torch>=2.1.0
torchvision
numpy
pillow
opencv-python
tqdm
pyyaml
plyfile
matplotlib
lpips
imageio
imageio-ffmpeg
tensorboard
gsplat
# tuỳ chọn nếu dùng backend gốc thay vì gsplat:
# git+https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
